{% extends "base.html" %}
{% block content %}
<h1>Загрузка аватара</h1>
<form action="" method="post" name="simple" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.file_name.label }}<br>
        {{ form.file_name(class="form-control") }}<br>
        {% for error in form.file_name.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    <br>
    {% endfor %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>

</form>

{% endblock %}