{% extends "base.html" %}
{% block content %}
<div>

    <div class="card mb-3" style="max-width: 60%; margin-top:16px;">
        <div class="row g-0">
            <div class="col-md-4" align="center">
                <img align="center" src="{{avatar_url}}"
                     class="img-fluid rounded-start" alt="...">
                {% if not user.avatar and user.id == current_user.id %}
                <a href="/load_avatar/{{ user.id }}" class="btn btn-primary"
                   style="margin-top: 10px; margin-bottom: 10px;">
                    Загрузить аватар
                </a>
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ user.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                    <p class="card-text">{{ user.about }} </p>
                    <p class="card-text">Постов: {{ user.posts|length }}</p>
                    <p class="card-text">Рейтинг: {{ rating }}</p>
                </div>
            </div>
        </div>
    </div>


    {% for item in posts %}
    <div style="margin-top: 3%;">
        <div class="card {% if item.done %}alert-success {% endif %}" style="width: 70%;">
            <div class="card-header">
                {{item.created_date.strftime('%Y-%m-%d %H:%M')}}
                {% if item.done %} <h5 class="card-title" style="margin-top: 8px;">Вопрос закрыт</h5> {% endif %}
                {% if current_user.is_authenticated and current_user != item.user and not item.done %}
                <div class="btn-group" role="group" aria-label="Basic outlined example" style="margin-left: 16px;">
                    <form method="post" action="/vote/{{item.id}}">
                        <button type="submit" name="upvote" value="upvote" class="btn btn-outline-primary"
                                style="margin-right: 20px;">Upvote
                            <span style="color: white;"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    +1
  </span>
                        </button>
                        <button type="submit" name="downvote" value="downvote" class="btn btn-outline-primary">Downvote
                            <span style="color: white;"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    -1
  </span>
                        </button>
                    </form>
                </div>
                {% endif %}
            </div>
            <div class="card-body">
                <ul class="list-group list-group-horizontal">
                    {% for tag in item.tags %}
                    <li class="card text-white border-info mb-3 text-primary"
                        style="margin-right: 6px; padding: 6px;">{{tag.name}}
                    </li>
                    {% endfor %}
                </ul>
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.content}}</p>
                {% if item.thread_messages %}
                <br>
                {% endif %}
                <ul class="list-group" style="margin-left: 15px;">

                    {% for message in item.thread_messages %}
                    <li class="list-group-item">
                        {{message.content}} - {{message.user.name}}, {{message.created_date.strftime('%Y-%m-%d %H:%M')}}
                    </li>
                    {% endfor %}
                </ul>
                <br>

                <div>
                    {% if current_user.is_authenticated and current_user == item.user %}
                    <a href="/post_delete/{{ item.id }}" class="btn btn-danger">
                        Удалить
                    </a>
                    {% if not item.done %}
                    <a href="/posts/{{ item.id }}" class="btn btn-primary">
                        Изменить
                    </a>
                    <a href="/complete/{{ item.id }}" class="btn btn-success">
                        Закрыть вопрос
                    </a>
                    {% endif %}
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    {% if not item.done %}
                    <a href="/post/{{ item.id }}/add_message" class="btn btn-secondary">
                        Добавить комментарий
                    </a>
                    {% endif %}
                    {% endif %}
                </div>
                {% if current_user.is_authenticated %}
                <div>

                </div>

                {% endif %}
            </div>
        </div>


    </div>
</div>
{% endfor %}
{% endblock %}